h1 Contact Form
div.content
  form(action='/mysqlconnection', name='mysql', id='mysql', method='post')
    fieldset
      p
        label(for='host') Host:
        br
        input(name='host', type='text', value='', id='host')
      p
        label(for='user') User:
        br
        input(name='user', type='text', value='', id='user')
      p
        label(for='password') Password:
        br
        input(name='password', type='password', id='password')
      p
        input(name='submit', type='submit', value='Send', id='submit')
      p
        Welcome to #{title}
      p

      if(typeof msg !== 'undefined')
        if(!!err)
            div(class='msgbox err') #{msg}
        else
            div(class='msgbox success') #{msg}

